$bg-color: rgba(42, 38, 61, 0.82);
$biggest: 48px;
$warna-utama: #FCB371;
$warna-kedua: #FFFFFF;
$layar-hp: 414px;
$layar-tablet: 768px;

@mixin lebar-layar($media) {
  @if $media == hp {
    @media only screen and (max-width: $layar-hp) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $layar-hp + 1) and (max-width: $layar-tablet) { @content; }
  }
}


