body#homepage {
  max-width: 100%;
  height: auto;
  background: url('../img/ImageBackground.png') no-repeat center fixed;
  background-size: cover;

  &::after {
    content: "";
    background-color: $bg-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .container {
    @include lebar-layar(hp) {
      padding:0 3% 20%;
    }
    @include lebar-layar(tablet) {
      padding: 0 3% 20%;
    }
    padding-bottom: 24px;
    img {
      @include lebar-layar(hp) {
        margin-top: 14px;
        width: 40vw;
      }
      @include lebar-layar(tablet) {
        margin-top: 24px;
      }
      align-items: center;
      display: block;
      margin: 44px auto 0;
    }
  
    h1 {
      span {
        color: $warna-kedua;
      }
      @include lebar-layar(hp) {
        font-size: 12vw;
        line-height: 24vw;
      }
      font-family: 'Pacifico';
      font-size: $biggest;
      max-width: 360px;
      line-height: 84px;
      text-align: center;
      color: $warna-utama;
      margin: 14px auto;
    }
    
    p {
      @include lebar-layar(hp) {
        font-size: 4vw;
        line-height: 8vw;
      }
      font-family: 'Roboto Condensed';
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: $warna-kedua;
      margin-bottom: 60px;
    }
  
    .row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  
      a {
        @include lebar-layar(hp) {
          font-size: 3vw;
        }
        text-align: center;
        text-decoration: none;
        font-size: 12px;
      }     
    }
  }

}


