@import 'reset';
@import 'campur';
@import 'homepage';
@import 'about-us';
@import 'reservation';
@import 'login';

.warna-pertama {
	color: $warna-utama;
}
.warna-kedua {
	color: $warna-kedua;
}

.btn {
	overflow: hidden;
	padding: 14px 46px;
	border: 2px solid $warna-utama;
	font-family: "Pacifico";
	min-width: 156px;
	min-height: 46px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	box-sizing: border-box;
	margin: 6.5px;
	
}

.btn-utama {
	border: none;
	background-color: $warna-utama;
	color: $warna-kedua;
	transition: background-color .2s;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	&:hover {
		background-color: $warna-utama-darker;
	}
}

.btn-kedua {
	background-color: transparent;
	color: $warna-utama;
	
}