html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body#homepage {
  max-width: 100%;
  height: auto;
  background: url("../img/ImageBackground.png") no-repeat center fixed;
  background-size: cover;
}
body#homepage::after {
  content: "";
  background-color: rgba(42, 38, 61, 0.82);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
body#homepage .container {
  padding-bottom: 24px;
}
@media only screen and (max-width: 414px) {
  body#homepage .container {
    padding: 0 3% 20%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#homepage .container {
    padding: 0 3% 20%;
  }
}
body#homepage .container img {
  align-items: center;
  display: block;
  margin: 44px auto 0;
}
@media only screen and (max-width: 414px) {
  body#homepage .container img {
    margin-top: 14px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#homepage .container img {
    margin-top: 24px;
  }
}
body#homepage .container h1 {
  font-family: "Pacifico";
  font-size: 48px;
  max-width: 360px;
  line-height: 84px;
  text-align: center;
  color: #fcb371;
  margin: 14px auto;
}
body#homepage .container h1 span {
  color: #ffffff;
}
@media only screen and (max-width: 414px) {
  body#homepage .container h1 {
    font-size: 12vw;
    line-height: 24vw;
  }
}
body#homepage .container p {
  font-family: "Roboto Condensed";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}
body#homepage .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body#homepage .container .row a {
  text-decoration: none;
  font-size: 12px;
  padding: 14px 46px;
}

body#about-us {
  max-width: 100%;
  height: auto;
  background: url("../img/bg1.png") no-repeat center fixed;
  background-size: cover;
}
body#about-us::after {
  content: "";
  background-color: rgba(42, 38, 61, 0.82);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
body#about-us .container {
  padding-bottom: 24px;
}
@media only screen and (max-width: 414px) {
  body#about-us .container {
    padding: 0 3% 20%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#about-us .container {
    padding: 0 3% 20%;
  }
}
body#about-us .container a {
  position: absolute;
  top: 68px;
  left: 48px;
}
@media only screen and (max-width: 414px) {
  body#about-us .container a {
    top: 20px;
    left: 20px;
  }
  body#about-us .container a img {
    width: 80%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#about-us .container a {
    top: 40px;
    left: 40px;
  }
}
body#about-us .container h1 {
  font-family: "Pacifico";
  font-size: 48px;
  line-height: 84px;
  max-width: 360px;
  text-align: center;
  color: #fcb371;
  margin: 171px auto 46px;
}
@media only screen and (max-width: 414px) {
  body#about-us .container h1 {
    font-size: 12vw;
    line-height: 24vw;
    margin: 30% auto 10%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#about-us .container h1 {
    margin: 25% auto 5%;
  }
}
body#about-us .container p {
  max-width: 768px;
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  margin: auto;
}
@media only screen and (max-width: 414px) {
  body#about-us .container p {
    font-size: 7vw;
    line-height: 8.25vw;
  }
}

body#reservation {
  max-width: 100%;
  height: auto;
  background: url("../img/bg2.png") no-repeat center fixed;
  background-size: cover;
}
body#reservation::after {
  content: "";
  background-color: rgba(42, 38, 61, 0.82);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
body#reservation .container {
  padding-bottom: 24px;
}
@media only screen and (max-width: 414px) {
  body#reservation .container {
    padding: 0 3% 20%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#reservation .container {
    padding: 0 3% 20%;
  }
}
body#reservation .container a {
  position: absolute;
  top: 68px;
  left: 48px;
}
@media only screen and (max-width: 414px) {
  body#reservation .container a {
    top: 20px;
    left: 20px;
  }
  body#reservation .container a img {
    width: 80%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#reservation .container a {
    top: 40px;
    left: 40px;
  }
}
body#reservation .container h1 {
  font-family: "Pacifico";
  font-size: 48px;
  line-height: 84px;
  max-width: 360px;
  text-align: center;
  color: #fcb371;
  margin: 58px auto 67px;
}
@media only screen and (max-width: 414px) {
  body#reservation .container h1 {
    font-size: 12vw;
    line-height: 24vw;
    margin: 20% auto 5%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  body#reservation .container h1 {
    margin: 15% auto 5%;
  }
}
body#reservation .container .row {
  display: flex;
  justify-content: center;
}
body#reservation .container .row form {
  width: 460px;
  display: flex;
  flex-direction: column;
}
body#reservation .container .row form input, body#reservation .container .row form select, body#reservation .container .row form textarea {
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  padding: 16px;
  margin: 8px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  resize: none;
}
body#reservation .container .row form input:focus, body#reservation .container .row form select:focus, body#reservation .container .row form textarea:focus {
  outline: none;
}
body#reservation .container .row form input::placeholder, body#reservation .container .row form select::placeholder, body#reservation .container .row form textarea::placeholder {
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  color: #A9A9A9;
  font-size: 12px;
}
body#reservation .container .row form .grup-formulir {
  display: flex;
}
@media only screen and (max-width: 414px) {
  body#reservation .container .row form .grup-formulir {
    flex-wrap: wrap;
  }
}
body#reservation .container .row form .grup-formulir select {
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  color: #A9A9A9;
  font-size: 12px;
  background-image: url("../img/Polygon 1.svg");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 182px 21px;
}
body#reservation .container .row form .grup-formulir input, body#reservation .container .row form .grup-formulir select {
  width: 100%;
}

.warna-pertama {
  color: #fcb371;
}

.warna-kedua {
  color: #ffffff;
}

.btn {
  border: 2px solid #fcb371;
  font-family: "Pacifico";
  min-width: 156px;
  min-height: 46px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-sizing: border-box;
  margin: 6.5px;
}

.btn-utama {
  border: none;
  background-color: #fcb371;
  color: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn-utama:hover {
  background-color: #d89255;
}

.btn-kedua {
  background-color: transparent;
  color: #fcb371;
}

/*# sourceMappingURL=style.css.map */
